<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Biblioteca</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecto de Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Opciones adicionales -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Creación de tablas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Archivos mapeados de las entidades -->
        <mapping class="org.example.models.Persona"/>
        <mapping class="org.example.models.Usuario"/>
        <mapping class="org.example.models.Libro"/>
        <mapping class="org.example.models.Prestamo"/>

    </session-factory>
</hibernate-configuration>